header{
    background-color: green;
    height: 100px;
    width: 100%;
    position: relative;
}

label.logo{
    color: white;
    font-size: 60px;
    margin-left: 38%;
    font-weight: bold;
    line-height: 80px;
    
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;
}

span{
    color: red;
    font-size: small;
}


body{
    font-family: Arial, sans-serif;
}




button{
    cursor: pointer;
}




  

  
button {
    color: #FFF;
    background-color: #007bff8b;
    border: 1px solid #357EBD;
    height: 39px;
    margin-left: 15%;
    padding: 6px 20px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
}

button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer;
}

.container{
    margin-left: 15%;
}

form label {
    display: block;
    margin: 10px;
    font-weight: bold;
    font-family: Arial;
    font-size: 17px;
}

form input{
    display: block;
    margin: 10px;

}
form select{
    display: block;
    margin: 10px;
}

.container2{
   margin-top: -40%;
    margin-right: 15%;
}


button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
table{
    margin-right: 10%;
}

h2{
    text-align: center;
}


form{
margin-top: -20%;
}

select{
    width: 16%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container2{
        margin-top: 4%;
    }
  

}



/*int tel style*/
ul {
    top: 100% !important;
    transform: translateY(0%) !important;
}

.iti {
    position: relative;
    display: inline-block;
}

input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;

    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0;
    border: 1px solid #CCC;
    width: 270px;
    height: 35px;
    /* padding: 6px 12px; */
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
}



.iti {
    position: relative;
    display: inline-block;
}

input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;

    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0;
    border: 1px solid #CCC;
    width: 270px;
    height: 35px;
    /* padding: 6px 12px; */
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
}


/* CSS to collapse the table when all rows are hidden */
#ticketTable{
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 40%;
}

th, td, tr{
    padding: 10px;
    border: 2px solid #000000;
}

#ticketTable th{
    width: 300px;
    margin: auto;
    padding: 5px;
    background-color: #ddd6d6;
    
    border: 1px solid black;
    position: relative;
    text-align: center;
    align-content: center;
}
#ticketTable td{
    width: 300px;
    margin: auto;
    padding: 5px;    
    border: 1px solid black;
    position: relative;
    text-align: center;
    align-content: center;
} 

/* CSS to hide rows without gaps */
.hidden-row {
    display: none;
  }
  
  #ticketTable {
    border-collapse: collapse;
  }
  


  

  
  





